<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Ordinazione</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bar/bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bar/bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bar/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bar/css/area-riservata.css' %}">
</head>
<body>
    <header>
        <div class="container-header mt-3">
            <div class="row justify-content-center">
                <div class="col-2">
                    <img src="{% static 'bar/imgs/title-image.jpg' %}" alt="TitleImage" class="img-fluid rounded-pill">
                </div>
                <div class="col-4">
                    <h1>Il Bar</h1>
                </div>
                <div class="col-4 align-self-end">
                    <button type="button" class="btn btn-light btn-sm">Logout</button>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-10">
                <!-- AREA BARISTA -->
                {% if type == 'barista' %}
                    <label>Barista</label>
                    <span>{{ persona.nome }}</span>
                    <span>{{ persona.cognome }}</span>

                <!-- AREA CLIENTE -->
                {% elif type == 'cliente' %}
                    <label>Cliente</label>
                    <span>{{ persona.nome }}</span>
                    <span>{{ persona.cognome }}</span>
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>