<!DOCTYPE html>
<html lang="it">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bar/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bar/css/bootstrap.css' %}">
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <img src="{% static "bar/title-image.jpg"  %}" alt="TitleImage" class="img-fluid rounded-pill">
            </div>
            <div class="col-6">
                <h1>Il Bar</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-10">
                {% if cocktail_list %}
                    <table class="table">
                    <thead class="thead-dark">
                        <tr>
                          <th scope="col">Nome</th>
                          <th scope="col">Ingredienti</th>
                          <th scope="col">Prezzo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cocktail in cocktail_list %}
                        <tr>
                          <td>{{cocktail.nome}}</td>
                          <td>{{cocktail.ingredienti}}</td>
                          <td>{{cocktail.prezzo}}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

</body>
</html>