<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Inserisci Cocktail</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bar/bootstrap/css/bootstrap.css' %}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'bar/bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bar/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bar/css/inserisci-cocktail.css' %}">
</head>
<body>
    <header>
            <div class="container-header mt-3">
                <div class="row justify-content-center">
                    <div class="col-6">
                        <h1 class="title-header">Cocktail Bar</h1>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="offset-8 col-2">
                                <a class="btn btn-dark" href="{% url 'logout' %}">Esci</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>

    <form method="post" action="{% url 'inserisci-cocktail' %}">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row">
                    <div class="form-group col-6">
                        <label for="inputNome">Nome Cocktail</label>
                        <input type="text" class="form-control" id="inputNome" placeholder="Inserisci nome" name="nome">
                    </div>
                    <div class="form-group col-6">
                        <label for="inputIngredienti">Ingredienti</label>
                        <input type="text" class="form-control" id="inputIngredienti" placeholder="Inserisci ingredienti" ingredienti="ingredienti">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="inputPrezzo">Prezzo</label>
                        <input type="prezzo" class="form-control" id="inputPrezzo" placeholder="Inserisci prezzo" prezzo="prezzo">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-dark">Inserisci</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>
</html>