<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>Area Riservata</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bar/bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="{% static 'bar/bootstrap/js/bootstrap.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bar/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bar/css/modifica-avvenuta.css' %}">
</head>
<body>
    <header>
        <div class="container-header mt-3">
            <div class="row m-1">
                <div class="col-1">
                    <img src="{% static 'bar/imgs/cocktail.svg' %}" alt="bicchiere da cocktail" class="logo-glass">
                </div>
                <div class="col-5">
                    <h1 class="title-header">Cocktail Bar</h1>
                </div>
                <div class="col-6">
                    <div class="row justify-content-end">
                        <div class="offset-8 col-2">
                            <a class="btn btn-dark" href="{% url 'logout' %}">Esci</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <form method="post" action="{% url 'modifica-cocktail' barista_id cocktail.id %}">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="row justify-content-center">
                    <div class="col-10">
                        <h5>Modifica cocktail {{ cocktail.nome }}</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="inputIngredienti">Ingredienti</label>
                        <input type="text" class="form-control" id="inputIngredienti" placeholder="{{cocktail.ingredienti}}" name="ingredienti">
                    </div>
                    <div class="form-group col-6">
                        <label for="inputPrezzo">Prezzo</label>
                        <input type="prezzo" class="form-control" id="inputPrezzo" placeholder="{{cocktail.prezzo}}" name="prezzo">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-dark">Inserisci</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>
</html>